
body{background:#fff}
*, *:before, *:after {box-sizing: border-box;}


/* gnb */
#main_header{width:100%;background:#fff;position: fixed;z-index: 9999999;}
#main_gnb_wrap{width:1803px;height:70px;margin:0 auto;display:flex;justify-content: space-between;font-family:'Josefin Sans', sans-serif;font-weight: 400;}
.main_gnb{font-size:18px;-webkit-font-smoothing: antialiased;}
.main_gnb ul{display:flex;height:70px;align-items: center;}
.main_gnb ul li{margin-right:30px}

.button{border:1px solid #000;padding:9.5px 22px}

.main_logo{background:#fff;display:flex;align-items: center;margin-left:-220px}
.main_logo img{width:170px;}




.main_menu_right{display:flex;align-items: center;}
.main_menu_right img{width:33px;height:25px}


.gnb_burger{cursor: pointer;height: 17px;width: 36px;display:flex;justify-content: space-between;flex-direction: column;margin-left:30px}
.gnb_burger span{content: '';height: 3px;width: 100%;background-color: #000;display: block;}


/* hero */
#hero {display: flex;flex-direction: column;align-items: center;height:1228px;width:100%;background:url(../img/Rock_Steady_01-2048x1365.jpg)no-repeat center;background-size:cover;color:#fff;margin-bottom:130px}
#hero span{font-family:'Josefin Sans', sans-serif;font-size:10px;letter-spacing: 1px;padding-top:26%}
#hero h1{font-family: 'Lustria', serif;font-size:90px;font-weight: normal;padding:10px 0 15px;letter-spacing: 1px;}
#hero h3{font-family:'Nanum Myeongjo', serif;font-size:18px;font-weight:bold;color:#fff;letter-spacing: 0.5px;}
#hero::after{content: ' ';display: table;}

/* column_부분 */
.column_wrap{width:1803px;clear: both;margin: 0px auto;box-sizing:border-box;display: flex;justify-content: space-between;}
.column_wrap::after{content: ' ';display: table;}
.column_left{width:50%}
.column_left img{width:882px;height:882px}
.column_left h2{font-family:'Lustria', serif;font-size:70px;text-align: center;margin:100px 0 30px}
.column_left p{width:705px;font-size:18px;text-align: center;margin:0 auto}

.column_group{width:50%;margin-bottom:15px;padding-left: 3px;}
.column_group ul{display:flex;margin-bottom:100px;justify-content: space-around;}
.column_group ul li{width:260px;padding-right:40px}
.column_group ul li:last-child{padding-right:20px}
.column_group figure img{width:260px;margin-bottom:12px}
.column_group h2{font-size:20px;padding:20px 0}

.column_container .button{width:127px;margin:0 auto;text-align: center;display:block;box-sizing: border-box;}

.column_container{padding-bottom:124px;}


/* about_people */

.about_people_wrap{width:1843px;margin: 0px auto;display:flex;justify-content: space-between;padding:53px 20px 130px;border-top:1px solid #111;}
.about_people_img img{width:614px}
.about_people_text{display:flex;flex-direction: column;justify-content: space-between;}
.about_people_text h1{font-size:90px;line-height:97.2px;font-weight: normal;}
.about_people_text h3{padding-bottom:20px}
.about_people_text span{font-size:11px;font-family:'Josefin Sans', sans-serif;letter-spacing:2px;padding-bottom:20px;display:block}
.about_people_text p{color:#000;font-size:23px;font-family: 'Neuton', serif;-webkit-font-smoothing: antialiased;letter-spacing:0.5px;}


/* Mitchell Gold+Bob William */
.Mitchell_container{width:100%;height:480px;background:url(../img/MGBW_KINFOLK_BANNER_updated2-copy-2000x1250.jpg)no-repeat fixed;background-size: cover;margin-bottom:130px}




/* current issue */
.currentissue_container{padding-bottom:124px}
.currentissue_container .button{display:block;margin:0 auto 124px;width:127px;text-align:center}
.currentissue_container h2{text-align: center;font-size:20px;margin-bottom:100px;letter-spacing:none;}
.currentissue_container img{height:780px}
.currentissue_container p{font-size:20px;color:#000;text-align: center;margin-bottom:65px}
.currentissue_magazine ul{display:flex;width:100%;position: relative;}
.currentissue_magazine ul li.magazine1{height:100%;position: fixed;left:-45%}
.currentissue_magazine ul li.magazine2{position: fixed;left:-50%}
.currentissue_magazine ul li.magazine3{position: fixed;right:-45%}

.currentissue_magazine ul li:first-child{margin-left:-41%}


